# Python cache
__pycache__/
*.py[cod]
*.pyo

# Model assets (file nang, khong commit)
model_assets/

# Editor
.vscode/
.idea/

# Virtual Environment
.venv/
.gradio/

# Data and large files
data/
*.zip

# Pytest cache
.pytest_cache/